.info-page
    width: 100%
    margin: 2px 0
    display: flex
    flex-wrap: flex
    .sidebar
        margin: 2px 5px
        width: 10%
        display: grid
        grid-template-rows: auto auto
        background-color: rgb(13, 177, 240)
        height: 90vh
        button
            display: block
            border-style: none
            color: white
            background: transparent
            font-size: 15px
            cursor: pointer
            margin: 10px
    .activity-details
        width: 40%
        .activity-image-container
            pading: 2px
            margin: 15px
            .activity-image
                border-radius: 0 35px 0 0
                box-shadow: 10px 10px 10px grey
                width: 100%
                height: 450px 
    .activity-booking
        width: 50%
        display: grid
        grid-template-rows: auto auto
        .activity-description-container
            height: 45vh
            margin: 15px
        .booking-form-container
            height: 45vh
            margin: 15px
            ul
                list-style: none
                margin-left: 0
                
